/********reset********/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/*******總體設定*************/

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(250, 250, 250);
}
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.headercontanier {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url(../images/img-headerShape.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  align-items: center;
  .people {
    margin-top: 2rem;
    h1 {
      font-size: 3rem;
      margin-top: 1rem;
    }
    p {
      line-height: 1.5;
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }
  .info {
    li {
      line-height: 2;
      font-size: 1.5rem;
      color: white;
      img {
        padding: 0rem 1rem;
        vertical-align: middle;
      }
    }
  }
}
@media screen and(max-width:560px) {
  .headercontanier {
    align-items: center;
    .info {
      ul {
        margin-top: 3rem;
        background-color: rgb(170, 167, 248);
        padding: 0.5rem;
        li {
          color: rgb(0, 0, 0);
          font-size: 1rem;
        }
      }
    }
  }
}

.skills {
  h2 {
    text-align: center;
    margin-top: 6rem;
    font-size: 2rem;
    color: blue;
  }
  .skillcard {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    flex-wrap: wrap;
    .card {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-basis: 300px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      margin: 1rem;
      background-color: rgb(255, 255, 255);
      border-radius: 0.5rem;
      img {
        padding-top: 2rem;
      }
      h3 {
        font-size: 1.5rem;
        padding-top: 2rem;
      }
      ul {
        padding-top: 2rem;
        padding-bottom: 2rem;
        li {
          list-style-type: disc;
          margin: 0 3rem;
          line-height: 1.5;
        }
      }
    }
    .weblayout {
      border-bottom: 10px solid rgb(245, 141, 35);
    }
    .java {
      border-bottom: 10px solid rgb(83, 158, 67);
    }
    .devhelp {
      border-bottom: 10px solid rgb(103, 98, 166);
    }
  }
}

.experience {
  position: relative;
}

h2 {
  text-align: center;
  margin-top: 6rem;
  font-size: 2rem;
  color: blue;
}
.time {
  &::before {
    content: url(../images/dot-start.png);
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    margin: 4rem auto;
    padding: 4rem 0rem;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      background-color: #888;
      height: 100%;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      background-color: #888;
      height: 1%;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: -1;
    }
    .pc_flextopitem {
      align-self: flex-end;
      &::before {
        content: url(../images/dot-timeItem.png);
        display: block;
        position: absolute;
        top: 23%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
    .pc_flexmiditem {
      align-self: flex-start;
      text-align: right;
      &::before {
        content: url(../images/dot-timeItem.png);
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
    .pc_flexenditem {
      align-self: flex-end;
      &::before {
        content: url(../images/dot-timeItem.png);
        display: block;
        position: absolute;
        top: 79%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
    li {
      margin: 1rem;
    }
  }
  .period {
    font-weight: bold;
    display: block;
    padding: 0.8rem;
  }
  .position {
    font-weight: bold;
    color: rgb(145, 39, 68);
    font-size: 1.2rem;
  }
  .item {
    border: 2px solid rgb(251, 86, 191);
    border-radius: 1rem;
    background-color: white;
    p {
      padding: 0.8rem;
    }
  }
}

@media screen and(max-width:850px) {
  .experience {
    .time {
      &::before {
        left: 10%;
      }
      ul {
        &::before {
          left: 10%;
          transform: translate(-50%, 0%);
        }
        &::after {
          left: 10%;
          transform: translate(-50%, 0%);
        }
      }
      .pc_flextopitem,
      .pc_flexmiditem {
        align-self: center;
        text-align: left;
        margin-top: 1rem;
        &::before {
          left: 10%;
        }
      }
      .pc_flexenditem {
        align-self: center;
        margin-top: 1rem;
        &::before {
          left: 10%;
        }
      }
    }
  }
}

@media screen and(max-width:560px) {
  .experience {
    .time {
      &::before {
        display: none;
      }
      ul {
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
      .pc_flextopitem,
      .pc_flexmiditem {
        &::before {
          display: none;
        }
      }
      .pc_flexenditem {
        &::before {
          display: none;
        }
      }
    }
  }
}

.work {
  h2 {
    text-align: center;
    margin-top: 8rem;
    font-size: 2rem;
    color: rgb(251, 86, 191);
  }
  .workdesign {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  a {
    margin: 0 auto;
    text-decoration: none;
    .workitem {
      background-color: rgb(66, 66, 66);
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      margin-top: 2rem;
      transition: 0.8s;
      &:hover {
        transform: scale(1.05);

      }
      .work_content {
        background-color: white;
        h3 {
          color: black;
          font-size: 1.2rem;
          font-weight: bold;
          padding: 0 1rem;
          padding-top: 1rem;
        }
        p {
          color: rgb(108, 108, 108);
          padding: 1rem;
        }
      }

    }
    img {
      padding: 3rem 0rem;
      align-self: center;
      width: 50%;
    }
    .pink {
      background-color: rgb(253, 180, 227);
      img {
        width: 90%;
      }
    }
    .black {
      background-color: rgb(66, 66, 66);
    }
    .blue {
      background-color: rgb(138, 215, 250);
    }

  }
}

.about {
  h2 {
    text-align: center;
    margin-top: 6rem;
    font-size: 2rem;
    color: rgb(251, 86, 191);
  }
  .about_content {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    img {
      width: 50%;
      max-width: 250px;
    }
    p {
      max-width: 500px;
      font-size: 1.2rem;
      color: rgb(108, 108, 108);
      margin: 2rem;
      line-height: 1.5;
    }
  }
}
.footerpart {
  background-image: url(../images/img-Looper-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 0rem;
}
